
# Python 
__pycache__/
*.pyc 

# Auth files
token.pickle
credentials.json
service-account-key.json
spotify_auth_test.py
my_spotify_credentials.txt

# Spotipy cache
.cache/
.cache-*
.cache

# VSCode settings (optional)
.vscode/